<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>
            {% block titulo %} INICIO {% endblock %} - Master en PHP Vicente Corts
        </title>  
    </head>
    <body>
        <div id="header">
            {% block cabecera %}
                <h1>Cabecera de la plantilla</h1>
            {% endblock %}
        </div>
        <hr/>
        <section id="content">
            {% block contenido %}
                <p>Contenido default</p>
            {% endblock %}
        </section>
        <hr/>
        <footer>
            Footer default
        </footer>
    </body>
</html>